rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    match /audio/{fileName} {
      allow read: if request.auth != null;
      allow create, update: if isAdmin()
        && request.resource.size < 25 * 1024 * 1024
        && request.resource.contentType == 'audio/mpeg';
      allow delete: if isAdmin();
    }

    match /userLoops/{uid}/{fileName} {
      allow read, delete: if request.auth != null && request.auth.uid == uid;
      allow create, update: if request.auth != null && request.auth.uid == uid
        && request.resource.size < 15 * 1024 * 1024
        && request.resource.contentType == 'audio/wav';
    }
  }
}